div(flex-xs='', flex-gt-xs='50', layout='column', ng-repeat='twit in main.awesomeTwits')
  md-card(md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}", md-theme-watch='')
    md-card-title
      md-card-title-text
        span.md-headline {{ $index + 1 }} Card with image
        span.md-subhead
          p(ng-bind-html='twit.text | twitterLinks')
      md-card-title-media
        .md-media-lg.card-media
    md-card-actions(layout='row', layout-align='end center')
      md-button Action 1
      md-button Action 2